<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Products</h2>
                <svg class="icon icon--white collapsible__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <a href="#">
                        <li>Website Hosting</li>
                    </a>
                    <a href="#">
                        <li>Free Automated Wordpress</li>
                    </a>
                    <a href="#">
                        <li>Migrations</li>
                    </a>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Company</h2>
                <svg class="icon icon--white collapsible__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <a href="#">
                        <li>About</li>
                    </a>
                    <a href="#">
                        <li>Affiliates</li>
                    </a>
                    <a href="#">
                        <li>Blog</li>
                    </a>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Support</h2>
                <svg class="icon icon--white collapsible__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <a href="#">
                        <li>Contact</li>
                    </a>
                    <a href="#">
                        <li>Knowledge Base</li>
                    </a>
                    <a href="#">
                        <li>FAQ</li>
                    </a>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Domains</h2>
                <svg class="icon icon--white collapsible__chevron">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <a href="#">
                        <li>Domain Checker</li>
                    </a>
                    <a href="#">
                        <li>Domain Transfer</li>
                    </a>
                    <a href="#">
                        <li>Free Domain</li>
                    </a>
                </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="images/logo.svg" alt="">
            <p class="footer__copyright">Copyright &copy;2024 Bogdan Och</p>
        </section>
    </div>
</footer>